In [1]:
input_paths=[r"C:\Users\Adil\Desktop\Practice\senergy\raw\[IN-023C]\2023\2023-03\\",
            r"C:\Users\Adil\Desktop\Practice\senergy\raw\[IN-023C]\2023\2023-03\\"]

In [2]:
output_paths=[x.replace("raw","output") for x in input_paths]
output_paths

['C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-02\\\\',
 'C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-03\\\\']

In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
def configure_dataset_directory(dataset_dir):
    for x in dataset_dir:
        try: 
          mkdir = 'mkdir {0}'.format(x)
          os.system(mkdir)
        except:
          pass

In [5]:
meters=['Inverter_1','Inverter_2','MFM','WMS']

In [6]:
dir_list=[]
for i in output_paths:
    for j in meters:
        dir_list.append(i+j)
dir_list

['C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-02\\\\Inverter_1',
 'C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-02\\\\Inverter_2',
 'C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-02\\\\MFM',
 'C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-02\\\\WMS',
 'C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-03\\\\Inverter_1',
 'C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-03\\\\Inverter_2',
 'C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-03\\\\MFM',
 'C:\\Users\\Adil\\Desktop\\Practice\\senergy\\output\\[IN-023C]\\2023\\2023-03\\\\WMS']

In [7]:
configure_dataset_directory(dir_list)
print('Successfully created required output directories')

Successfully created required output directories

In [8]:
def get_csv(path):
    files=csv_files=[]
    for file in os.listdir(path+'\\'):
        if file.endswith(".txt"):
            csv_files.append(file)
    
    return csv_files

['New Text Document (3).txt',
 'New Text Document (4).txt',
 'New Text Document.txt',
 'prep.txt']

In [9]:
samp_path=r"C:\Users\Adil\Desktop\Practice\senergy\sample_gen1\[IN-023C]\2023\2023-02\Inverter_1\[IN-023C]-I1-2023-02-01.txt"
sample_output_df=pd.read_csv(samp_path,sep='\t')
sample_output_df.head()

,Tstamp,Inverter_Id,Fb_Id,DTT,Device_Time,SES,Salve_Id,Function_Code,AC_Voltage_Line1,AC_Voltage_Line2,...,AC_Current_Totoal,AC_Volatge_RY,AC_Volatge_YB,AC_Volatge_BR,Apparent_Power,Event_Flag_1,Event_Flag_2,Event_Flag_3,Event_Flag_4,Coolent_Temp
0,2023-02-01 00:00:00,2.0,CT08,1.0,2023-02-01 00:00:04,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
1,2023-02-01 00:05:00,2.0,CT08,1.0,2023-02-01 00:04:04,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
2,2023-02-01 00:10:00,2.0,CT08,1.0,2023-02-01 00:10:14,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
3,2023-02-01 00:15:00,2.0,CT08,1.0,2023-02-01 00:15:33,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
4,2023-02-01 00:20:00,2.0,CT08,1.0,2023-02-01 00:20:53,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0

In [10]:
col_names=sample_output_df.columns

In [11]:
samp_path2=r"C:\Users\Adil\Desktop\Practice\ecotech\sample_gen1\[IN-023C]\2023\2023-02\MFM\[IN-023C]-MFM1-2023-02-01.txt"
sample_output_df2=pd.read_csv(samp_path2,sep='\t')
col_names2=sample_output_df2.columns

samp_path3=r"C:\Users\Adil\Desktop\Practice\senergy\sample_gen1\[IN-023C]\2023\2023-02\WMS\[IN-023C]-WMS-2023-02-01.txt"
sample_output_df3=pd.read_csv(samp_path3,sep='\t')
col_names3=sample_output_df3.columns

In [12]:
def modify_in(path,files):
    for file in files:
        input_df=pd.read_csv(path+"\\"+file,sep = '\t')
        cols = list(input_df)
        cols.insert(0, cols.pop(cols.index('i32')))
        input_df = input_df.loc[:, cols]
        input_df.columns=col_names
        out_path=path.replace("raw","output")
        input_df.to_csv(out_path+"\\"+file,index=None,sep='\t')

In [13]:
def modify_mfm(path,files):
    for file in files:
        input_df=pd.read_csv(path+"\\"+file,sep = '\t')
        cols = list(input_df)
        cols.insert(0, cols.pop(cols.index('m63')))
        input_df = input_df.loc[:, cols]
        input_df.columns=col_names2
        out_path=path.replace("raw","output")
        input_df.to_csv(out_path+"\\"+file,index=None,sep='\t')

In [14]:
def modify_wms(path,files):
    for file in files:
        input_df=pd.read_csv(path+"\\"+file,sep = '\t')
        cols = list(input_df)
        cols.insert(0, cols.pop(cols.index('w23')))
        input_df = input_df.loc[:, cols]
        input_df.columns=col_names3
        out_path=path.replace("raw","output")
        input_df.to_csv(out_path+"\\"+file,index=None,sep='\t')

In [15]:
for x in input_paths:
    for y in meters:
        path=x+y+"\\"
        files=get_csv(path)
        if "Inverter" in path:
            modify_in(path,files)
        elif "MFM" in path:
            modify_mfm(path,files)
        else:
            modify_wms(path,files)